Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy mozmeao-or dev, deploy mozmeao-or admin-stage, deploy mozmeao-or stage, deploy mozmeao-fr stage, deploy mozmeao-or admin, deploy mozmeao-or prod, deploy mozmeao-fr prod, test dev, test admin-stage, test stage, test admin, test prod, test mozmeao-fr prod

.gitlab-ci.yml:

stages:
  - pre-notify
  - deploy-admin
  - deploy
  - test
  - post-notify

notify start:
  stage: pre-notify
  only:
    - master
  tags:
    - aws
    - mozmeao
  script: ./slack-notify --stage deploy --status starting

notify done:
  stage: post-notify
  only:
    - master
  tags:
    - aws
    - mozmeao
  script: ./slack-notify --stage deploy --status shipped

.deploy:
  stage: deploy
  tags:
    - aws
    - mozmeao
  script:
    - kubectl apply -f ${DEPLOYMENT}
    - ./rollout-status.sh ${DEPLOYMENT}

deploy mozmeao-or dev:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-or/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-dev/*"
    refs:
      - master

deploy mozmeao-or admin-stage:
  extends: .deploy
  stage: deploy-admin
  variables:
    DEPLOYMENT: mozmeao-or/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-admin-stage/*"
    refs:
      - master

deploy mozmeao-or stage:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-or/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-stage/*"
    refs:
      - master

deploy mozmeao-fr stage:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-fr/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
  only:
    changes:
      - "mozmeao-fr/basket-stage/*"
    refs:
      - master

deploy mozmeao-or admin:
  extends: .deploy
  stage: deploy-admin
  variables:
    DEPLOYMENT: mozmeao-or/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-admin/*"
    refs:
      - master

deploy mozmeao-or prod:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-or/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-prod/*"
    refs:
      - master

deploy mozmeao-fr prod:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-fr/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
  only:
    changes:
      - "mozmeao-fr/basket-prod/*"
    refs:
      - master

.test:
  stage: test
  tags:
    - aws
    - mozmeao
  retry:
    max: 1
    when: always
  script:
    - ./acceptance-tests.sh ${URL}

test dev:
  extends: .test
  variables:
    URL: https://basket-dev.allizom.org
  only:
    changes:
      - "oregon-*/basket-dev/*"
    refs:
      - master

test admin-stage:
  extends: .test
  variables:
    URL: https://admin-stage.basket.moz.works
  only:
    changes:
      - "oregon-*/basket-admin-stage/*"
    refs:
      - master

test stage:
  extends: .test
  variables:
    URL: https://basket.allizom.org
  only:
    changes:
      - "oregon-*/basket-stage/*"
    refs:
      - master

test admin:
  extends: .test
  variables:
    URL: https://admin.basket.moz.works
  only:
    changes:
      - "oregon-*/basket-admin/*"
    refs:
      - master

test prod:
  extends: .test
  variables:
    URL: https://basket.mozilla.org
  only:
    changes:
      - "oregon-*/basket-prod/*"
    refs:
      - master

test mozmeao-fr prod:
  extends: .test
  variables:
    URL: https://basket-prod.frankfurt.moz.works
  only:
    changes:
      - "mozmeao-fr/basket-prod/*"
    refs:
      - master

set basket-dev image to mozmeao/basket:f73b5149 in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:f73b5149 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:0994452b in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:0994452b in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:0994452b in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

Enabling basket stage to talk to ctms
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

Adding ctms secrets for the web deploys and workers that seem likely to need it
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

Scale workers to 0 for maintenance
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

set basket-admin image to mozmeao/basket:0994452b in mozmeao-or
  mozmeao-or/basket-admin/web-deploy.yaml
Due: deploy mozmeao-or admin

set basket-prod image to mozmeao/basket:0994452b in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

Revert "Merge pull request #57 from pmac/prod-workers-scale-0"
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

disabling ctms
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

scaling workers down for tuesday
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

Enabling CTMS dual writes for basket
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

set basket-admin-stage image to mozmeao/basket:d7cc2939 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:d7cc2939 in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:d7cc2939 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:196e78fc in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:196e78fc in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:196e78fc in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin image to mozmeao/basket:196e78fc in mozmeao-or
  mozmeao-or/basket-admin/web-deploy.yaml
Due: deploy mozmeao-or admin

set basket-prod image to mozmeao/basket:196e78fc in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

Enable the fxa events queue for dev
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-admin-stage image to mozmeao/basket:d4735d9c in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:d4735d9c in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:d4735d9c in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:3ff403c8 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:3ff403c8 in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:3ff403c8 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:aded73fa in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:aded73fa in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:aded73fa in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:15527c27 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:15527c27 in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:15527c27 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin image to mozmeao/basket:15527c27 in mozmeao-or
  mozmeao-or/basket-admin/web-deploy.yaml
Due: deploy mozmeao-or admin

set basket-prod image to mozmeao/basket:15527c27 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

set basket-admin-stage image to mozmeao/basket:ce943949 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage
