Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-a dev, deploy oregon-b dev, deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage, deploy oregon-a admin, deploy oregon-b admin, deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

deploy oregon-a dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy frankfurt stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: frankfurt/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig

deploy oregon-a admin:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b admin:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a prod:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b prod:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

set basket-dev image to mozmeao/basket:879fd363 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:879fd363 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:d9d2d754 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:d9d2d754 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:d9d2d754 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:d9d2d754 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:d9d2d754 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:7cbf9a56 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:7cbf9a56 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:7cbf9a56 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:7cbf9a56 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:7cbf9a56 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:680e0d99 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:680e0d99 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:680e0d99 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:680e0d99 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:680e0d99 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:b558ba42 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:b558ba42 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:b558ba42 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:d3061340 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:d3061340 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:d3061340 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Add fxaeventsworker for basket-dev in oregon-b
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
Due: deploy oregon-b dev

Enable FXA_EVENTS_VERIFIED_SFDC_ENABLE
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-b dev

Turn off task locking for basket prod
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Turn off prod workers due to SFDC API limit
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin image to mozmeao/basket:d3061340 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:d3061340 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Turn off prod web pods to stop it from attempting to login for a bit
  frankfurt/basket-prod/web-deploy.yaml
  oregon-a/basket-admin/web-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin, deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Revert "Turn off prod web pods to stop it from attempting to login for a bit"
  frankfurt/basket-prod/web-deploy.yaml
  oregon-a/basket-admin/web-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin, deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Revert "Turn off prod workers due to SFDC API limit"
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Reduce basket-prod workers to 10 in frankfurt and 10 in oregon
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Disable basket-prod workers
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Disable basket-prod SQS workers
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
Due: deploy oregon-b prod

Bump SFDC_REQUEST_TIMEOUT to 90 for prod workers
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Re-enable all prod workers
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Fix SFDC_REQUEST_TIMEOUT value by quoting it
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Revert "Re-enable all prod workers"
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:79b83849 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

Path conditions:
  deploy oregon-a dev: any of: oregon-a/basket-dev/*
  deploy oregon-b dev: any of: oregon-b/basket-dev/*
  deploy oregon-a admin-stage: any of: oregon-a/basket-admin-stage/*
  deploy oregon-b admin-stage: any of: oregon-b/basket-admin-stage/*
  deploy oregon-a stage: any of: oregon-a/basket-stage/*
  deploy oregon-b stage: any of: oregon-b/basket-stage/*
  deploy frankfurt stage: any of: frankfurt/basket-stage/*
  deploy oregon-a admin: any of: oregon-a/basket-admin/*
  deploy oregon-b admin: any of: oregon-b/basket-admin/*
  deploy oregon-a prod: any of: oregon-a/basket-prod/*
  deploy oregon-b prod: any of: oregon-b/basket-prod/*
  deploy frankfurt prod: any of: frankfurt/basket-prod/*
