Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-a dev, deploy oregon-b dev, deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage, deploy oregon-a admin, deploy oregon-b admin, deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

.gitlab-ci.yml:

stages:
  - deploy-admin
  - deploy
  - test

.deploy:
  stage: deploy
  tags:
    - aws
    - meao
  script:
    - kubectl_1.11 apply -f ${DEPLOYMENT}
    - ./rollout-status.sh ${DEPLOYMENT}

deploy oregon-a dev:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
  only:
    changes:
      - "oregon-a/basket-dev/*"
    refs:
      - master

deploy oregon-b dev:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
  only:
    changes:
      - "oregon-b/basket-dev/*"
    refs:
      - master

deploy oregon-a admin-stage:
  extends: .deploy
  stage: deploy-admin
  variables:
    DEPLOYMENT: oregon-a/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
  only:
    changes:
      - "oregon-a/basket-admin-stage/*"
    refs:
      - master

deploy oregon-b admin-stage:
  extends: .deploy
  stage: deploy-admin
  variables:
    DEPLOYMENT: oregon-b/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
  only:
    changes:
      - "oregon-b/basket-admin-stage/*"
    refs:
      - master

deploy oregon-a stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
  only:
    changes:
      - "oregon-a/basket-stage/*"
    refs:
      - master

deploy oregon-b stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
  only:
    changes:
      - "oregon-b/basket-stage/*"
    refs:
      - master

deploy frankfurt stage:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
  only:
    changes:
      - "frankfurt/basket-stage/*"
    refs:
      - master

deploy oregon-a admin:
  extends: .deploy
  stage: deploy-admin
  variables:
    DEPLOYMENT: oregon-a/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
  only:
    changes:
      - "oregon-a/basket-admin/*"
    refs:
      - master

deploy oregon-b admin:
  extends: .deploy
  stage: deploy-admin
  variables:
    DEPLOYMENT: oregon-b/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
  only:
    changes:
      - "oregon-b/basket-admin/*"
    refs:
      - master

deploy oregon-a prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
  only:
    changes:
      - "oregon-a/basket-prod/*"
    refs:
      - master

deploy oregon-b prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
  only:
    changes:
      - "oregon-b/basket-prod/*"
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
  only:
    changes:
      - "frankfurt/basket-prod/*"
    refs:
      - master

.test:
  stage: test
  tags:
    - aws
    - meao
  retry:
    max: 1
    when: always
  script:
    - ./acceptance-tests.sh ${URL}

test dev:
  extends: .test
  variables:
    URL: http://basket-dev.moz.works

test admin-stage:
  extends: .test
  variables:
    URL: https://admin-stage.basket.moz.works

test stage:
  extends: .test
  variables:
    URL: https://basket.allizom.org

test admin:
  extends: .test
  variables:
    URL: https://admin.basket.moz.works

test prod:
  extends: .test
  variables:
    URL: https://basket.mozilla.org

test frankfurt prod:
  extends: .test
  variables:
    URL: https://basket-prod.frankfurt.moz.works

set basket-stage image to mozmeao/basket:8cdb1f4a in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:db093968 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:db093968 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:db093968 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:92315ac8 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:92315ac8 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:92315ac8 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:167d56b4 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:167d56b4 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:167d56b4 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:ac444d71 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:ac444d71 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:ac444d71 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:88680e4b in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:88680e4b in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:88680e4b in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:e8e855be in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:e8e855be in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:e8e855be in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Move everything from oregon-b to oregon-a
  .gitlab-ci.yml
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-a/basket-admin-stage/web-svc.yaml
  oregon-a/basket-admin/web-deploy.yaml
  oregon-a/basket-admin/web-svc.yaml
  oregon-a/basket-dev/donateworker-deploy.yaml
  oregon-a/basket-dev/fxaeventsworker-deploy.yaml
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-a/basket-prod/clock-deploy.yaml
  oregon-a/basket-prod/donateworker-deploy.yaml
  oregon-a/basket-prod/fxaeventsworker-deploy.yaml
  oregon-a/basket-prod/fxaworker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/web-svc.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-a/basket-stage/donateworker-deploy.yaml
  oregon-a/basket-stage/fxaeventsworker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/web-svc.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-admin-stage/ns.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin/ns.yaml
  oregon-b/basket-dev/fxaeventsworker-deploy.yaml
  oregon-b/basket-dev/ns.yaml
  oregon-b/basket-dev/web-svc.yaml
  oregon-b/basket-prod/ns.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/ns.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev, deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage, deploy oregon-a admin, deploy oregon-b admin, deploy oregon-a prod, deploy oregon-b prod

adding lb service to oregon, modifying selector
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-a/basket-admin-stage/web-svc.yaml
  oregon-a/basket-admin/web-deploy.yaml
  oregon-a/basket-admin/web-svc.yaml
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/web-svc.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/web-svc.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/web-svc.yaml
Due: deploy oregon-a dev, deploy oregon-a admin-stage, deploy oregon-a stage, deploy oregon-a admin, deploy oregon-a prod

Fix basket-dev test URL
  .gitlab-ci.yml
Due: none

adding a dockerhub login to every deployment
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-a/basket-admin/web-deploy.yaml
  oregon-a/basket-dev/donateworker-deploy.yaml
  oregon-a/basket-dev/fxaeventsworker-deploy.yaml
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-a/basket-prod/clock-deploy.yaml
  oregon-a/basket-prod/donateworker-deploy.yaml
  oregon-a/basket-prod/fxaeventsworker-deploy.yaml
  oregon-a/basket-prod/fxaworker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-a/basket-stage/donateworker-deploy.yaml
  oregon-a/basket-stage/fxaeventsworker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-a admin-stage, deploy oregon-a stage, deploy frankfurt stage, deploy oregon-a admin, deploy oregon-a prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:b007ba8a in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage

set basket-dev image to mozmeao/basket:b007ba8a in oregon-a oregon-b
  oregon-a/basket-dev/donateworker-deploy.yaml
  oregon-a/basket-dev/fxaeventsworker-deploy.yaml
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev

set basket-stage image to mozmeao/basket:b007ba8a in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/donateworker-deploy.yaml
  oregon-a/basket-stage/fxaeventsworker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:b85f09ee in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage

set basket-dev image to mozmeao/basket:b85f09ee in oregon-a oregon-b
  oregon-a/basket-dev/donateworker-deploy.yaml
  oregon-a/basket-dev/fxaeventsworker-deploy.yaml
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev

set basket-stage image to mozmeao/basket:b85f09ee in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/donateworker-deploy.yaml
  oregon-a/basket-stage/fxaeventsworker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:89c8b691 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage

set basket-dev image to mozmeao/basket:89c8b691 in oregon-a oregon-b
  oregon-a/basket-dev/donateworker-deploy.yaml
  oregon-a/basket-dev/fxaeventsworker-deploy.yaml
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev

set basket-stage image to mozmeao/basket:89c8b691 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/donateworker-deploy.yaml
  oregon-a/basket-stage/fxaeventsworker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy frankfurt stage

moving all oregon basket deployments
  .gitlab-ci.yml
  mozmeao-or/basket-admin-stage/ns.yaml
  mozmeao-or/basket-admin-stage/web-deploy.yaml
  mozmeao-or/basket-admin-stage/web-svc.yaml
  mozmeao-or/basket-admin/ns.yaml
  mozmeao-or/basket-admin/web-deploy.yaml
  mozmeao-or/basket-admin/web-svc.yaml
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/ns.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/web-svc.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/ns.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/web-svc.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/ns.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/web-svc.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: none

frankfurt as well
  .gitlab-ci.yml
  frankfurt/basket-prod/web-svc.yaml
  frankfurt/basket-stage/web-svc.yaml
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/ns.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/web-svc.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-fr/basket-stage/ns.yaml
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/web-svc.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-admin-stage/web-deploy.yaml
  mozmeao-or/basket-admin/web-deploy.yaml
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy frankfurt stage, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:5c40935d in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: none

set basket-dev image to mozmeao/basket:5c40935d in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: none

set basket-stage image to mozmeao/basket:5c40935d in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: none

updating test url
  .gitlab-ci.yml
Due: none

correct path to config
  .gitlab-ci.yml
Due: none
