Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-a dev, deploy oregon-b dev, deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage, deploy oregon-a admin, deploy oregon-b admin, deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

deploy oregon-a dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy frankfurt stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: frankfurt/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig

deploy oregon-a admin:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b admin:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a prod:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b prod:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

set basket-dev image to mozmeao/basket:4ab85dd2 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:4ab85dd2 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:4ab85dd2 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:4ab85dd2 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:857fef7c in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:857fef7c in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:857fef7c in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:857fef7c in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:857fef7c in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:671dac49 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:671dac49 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:671dac49 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:671dac49 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:671dac49 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Add liveness probes to prod for infra-private#232
  frankfurt/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:7d7b8a3c in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:7d7b8a3c in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:7d7b8a3c in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:d7c23233 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:d7c23233 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:d7c23233 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:d7c23233 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:d7c23233 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:a1df42d2 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:a1df42d2 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:a1df42d2 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:700a31bb in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:700a31bb in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:700a31bb in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin-stage image to mozmeao/basket:b7cb7c35 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:b7cb7c35 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:b7cb7c35 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:b7cb7c35 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:b7cb7c35 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

set basket-admin-stage image to mozmeao/basket:7269a164 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set basket-dev image to mozmeao/basket:7269a164 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set basket-stage image to mozmeao/basket:7269a164 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set basket-admin image to mozmeao/basket:7269a164 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: deploy oregon-a admin, deploy oregon-b admin

set basket-prod image to mozmeao/basket:7269a164 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: deploy oregon-a prod, deploy oregon-b prod, deploy frankfurt prod

Bump up workers in frankfurt for prod to chew through the queue
  frankfurt/basket-prod/worker-deploy.yaml
Due: deploy frankfurt prod

Path conditions:
  deploy oregon-a dev: any of: oregon-a/basket-dev/*
  deploy oregon-b dev: any of: oregon-b/basket-dev/*
  deploy oregon-a admin-stage: any of: oregon-a/basket-admin-stage/*
  deploy oregon-b admin-stage: any of: oregon-b/basket-admin-stage/*
  deploy oregon-a stage: any of: oregon-a/basket-stage/*
  deploy oregon-b stage: any of: oregon-b/basket-stage/*
  deploy frankfurt stage: any of: frankfurt/basket-stage/*
  deploy oregon-a admin: any of: oregon-a/basket-admin/*
  deploy oregon-b admin: any of: oregon-b/basket-admin/*
  deploy oregon-a prod: any of: oregon-a/basket-prod/*
  deploy oregon-b prod: any of: oregon-b/basket-prod/*
  deploy frankfurt prod: any of: frankfurt/basket-prod/*
