Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy mozmeao-or dev, deploy mozmeao-or admin-stage, deploy mozmeao-or stage, deploy mozmeao-fr stage, deploy mozmeao-or admin, deploy mozmeao-or prod, deploy mozmeao-fr prod, test dev, test admin-stage, test stage, test admin, test prod, test mozmeao-fr prod

deploy mozmeao-or dev:
  stage: deploy
  tags:
  - aws
  - mozmeao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: mozmeao-or/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig

deploy mozmeao-or admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - mozmeao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: mozmeao-or/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig

deploy mozmeao-or stage:
  stage: deploy
  tags:
  - aws
  - mozmeao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: mozmeao-or/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig

deploy mozmeao-fr stage:
  stage: deploy
  tags:
  - aws
  - mozmeao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: mozmeao-fr/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig

deploy mozmeao-or admin:
  stage: deploy-admin
  tags:
  - aws
  - mozmeao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: mozmeao-or/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig

deploy mozmeao-or prod:
  stage: deploy
  tags:
  - aws
  - mozmeao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: mozmeao-or/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig

deploy mozmeao-fr prod:
  stage: deploy
  tags:
  - aws
  - mozmeao
  script:
  - kubectl apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: mozmeao-fr/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig

test dev:
  stage: test
  tags:
  - aws
  - mozmeao
  retry:
    max: 1
    when: always
  script:
  - ./acceptance-tests.sh ${URL}
  variables:
    URL: https://basket-dev.allizom.org

test admin-stage:
  stage: test
  tags:
  - aws
  - mozmeao
  retry:
    max: 1
    when: always
  script:
  - ./acceptance-tests.sh ${URL}
  variables:
    URL: https://admin-stage.basket.moz.works

test stage:
  stage: test
  tags:
  - aws
  - mozmeao
  retry:
    max: 1
    when: always
  script:
  - ./acceptance-tests.sh ${URL}
  variables:
    URL: https://basket.allizom.org

test admin:
  stage: test
  tags:
  - aws
  - mozmeao
  retry:
    max: 1
    when: always
  script:
  - ./acceptance-tests.sh ${URL}
  variables:
    URL: https://admin.basket.moz.works

test prod:
  stage: test
  tags:
  - aws
  - mozmeao
  retry:
    max: 1
    when: always
  script:
  - ./acceptance-tests.sh ${URL}
  variables:
    URL: https://basket.mozilla.org

set basket-admin-stage image to mozmeao/basket:08cfd9bb in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:08cfd9bb in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:08cfd9bb in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

Enable basket-prod fxa data worker
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
Due: deploy mozmeao-or prod

set basket-admin-stage image to mozmeao/basket:1204debb in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:1204debb in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:1204debb in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

Remove BCC for donation receipts for basket-dev
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-admin-stage image to mozmeao/basket:c95999df in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:c95999df in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:c95999df in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:ef34052d in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:ef34052d in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:ef34052d in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

Disable the fxa-activity worker temporarily
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
Due: deploy mozmeao-or prod

set basket-admin image to mozmeao/basket:ef34052d in mozmeao-or
  mozmeao-or/basket-admin/web-deploy.yaml
Due: deploy mozmeao-or admin

set basket-prod image to mozmeao/basket:ef34052d in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

set basket-admin-stage image to mozmeao/basket:f540158d in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:f540158d in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:f540158d in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin image to mozmeao/basket:f540158d in mozmeao-or
  mozmeao-or/basket-admin/web-deploy.yaml
Due: deploy mozmeao-or admin

set basket-prod image to mozmeao/basket:f540158d in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

set basket-admin-stage image to mozmeao/basket:f1b7e910 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:f1b7e910 in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:f1b7e910 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin image to mozmeao/basket:f1b7e910 in mozmeao-or
  mozmeao-or/basket-admin/web-deploy.yaml
Due: deploy mozmeao-or admin

set basket-prod image to mozmeao/basket:f1b7e910 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

Enable sending Donation receipts in prod
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod

set basket-admin-stage image to mozmeao/basket:beb8e20e in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:beb8e20e in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:beb8e20e in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin image to mozmeao/basket:beb8e20e in mozmeao-or
  mozmeao-or/basket-admin/web-deploy.yaml
Due: deploy mozmeao-or admin

set basket-prod image to mozmeao/basket:beb8e20e in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

set basket-admin-stage image to mozmeao/basket:92c96ec5 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:92c96ec5 in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:92c96ec5 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/donateworker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin image to mozmeao/basket:92c96ec5 in mozmeao-or
  mozmeao-or/basket-admin/web-deploy.yaml
Due: deploy mozmeao-or admin

set basket-prod image to mozmeao/basket:92c96ec5 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-prod/clock-deploy.yaml
  mozmeao-fr/basket-prod/web-deploy.yaml
  mozmeao-fr/basket-prod/worker-deploy.yaml
  mozmeao-or/basket-prod/clock-deploy.yaml
  mozmeao-or/basket-prod/donateworker-deploy.yaml
  mozmeao-or/basket-prod/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-prod/fxaworker-deploy.yaml
  mozmeao-or/basket-prod/web-deploy.yaml
  mozmeao-or/basket-prod/worker-deploy.yaml
Due: deploy mozmeao-or prod, deploy mozmeao-fr prod, test mozmeao-fr prod

set basket-admin-stage image to mozmeao/basket:3be69661 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:3be69661 in mozmeao-or
  mozmeao-or/basket-dev/donateworker-deploy.yaml
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

Path conditions:
  deploy mozmeao-or dev: any of: mozmeao-or/basket-dev/*
  deploy mozmeao-or admin-stage: any of: mozmeao-or/basket-admin-stage/*
  deploy mozmeao-or stage: any of: mozmeao-or/basket-stage/*
  deploy mozmeao-fr stage: any of: mozmeao-fr/basket-stage/*
  deploy mozmeao-or admin: any of: mozmeao-or/basket-admin/*
  deploy mozmeao-or prod: any of: mozmeao-or/basket-prod/*
  deploy mozmeao-fr prod: any of: mozmeao-fr/basket-prod/*
  test dev: any of: oregon-*/basket-dev/*
  test admin-stage: any of: oregon-*/basket-admin-stage/*
  test stage: any of: oregon-*/basket-stage/*
  test admin: any of: oregon-*/basket-admin/*
  test prod: any of: oregon-*/basket-prod/*
  test mozmeao-fr prod: any of: mozmeao-fr/basket-prod/*
