Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy mozmeao-or dev, deploy mozmeao-or admin-stage, deploy mozmeao-or stage, deploy mozmeao-fr stage, deploy mozmeao-or admin, deploy mozmeao-or prod, deploy mozmeao-fr prod, test dev, test admin-stage, test stage, test admin, test prod, test mozmeao-fr prod

.gitlab-ci.yml:

stages:
  - pre-notify
  - deploy-admin
  - deploy
  - test
  - post-notify

notify start:
  stage: pre-notify
  only:
    - main
  tags:
    - aws
    - mozmeao
  script: ./slack-notify --stage deploy --status starting

notify done:
  stage: post-notify
  only:
    - main
  tags:
    - aws
    - mozmeao
  script: ./slack-notify --stage deploy --status shipped

.deploy:
  stage: deploy
  tags:
    - aws
    - mozmeao
  script:
    - kubectl apply -f ${DEPLOYMENT}
    - ./rollout-status.sh ${DEPLOYMENT}

deploy mozmeao-or dev:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-or/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-dev/*"
    refs:
      - main

deploy mozmeao-or admin-stage:
  extends: .deploy
  stage: deploy-admin
  variables:
    DEPLOYMENT: mozmeao-or/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-admin-stage/*"
    refs:
      - main

deploy mozmeao-or stage:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-or/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-stage/*"
    refs:
      - main

deploy mozmeao-fr stage:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-fr/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
  only:
    changes:
      - "mozmeao-fr/basket-stage/*"
    refs:
      - main

deploy mozmeao-or admin:
  extends: .deploy
  stage: deploy-admin
  variables:
    DEPLOYMENT: mozmeao-or/basket-admin
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-admin/*"
    refs:
      - main

deploy mozmeao-or prod:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-or/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
  only:
    changes:
      - "mozmeao-or/basket-prod/*"
    refs:
      - main

deploy mozmeao-fr prod:
  extends: .deploy
  variables:
    DEPLOYMENT: mozmeao-fr/basket-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
  only:
    changes:
      - "mozmeao-fr/basket-prod/*"
    refs:
      - main

.test:
  stage: test
  tags:
    - aws
    - mozmeao
  retry:
    max: 1
    when: always
  script:
    - ./acceptance-tests.sh ${URL}

test dev:
  extends: .test
  variables:
    URL: https://basket-dev.allizom.org
  only:
    changes:
      - "oregon-*/basket-dev/*"
    refs:
      - main

test admin-stage:
  extends: .test
  variables:
    URL: https://admin-stage.basket.moz.works
  only:
    changes:
      - "oregon-*/basket-admin-stage/*"
    refs:
      - main

test stage:
  extends: .test
  variables:
    URL: https://basket.allizom.org
  only:
    changes:
      - "oregon-*/basket-stage/*"
    refs:
      - main

test admin:
  extends: .test
  variables:
    URL: https://admin.basket.moz.works
  only:
    changes:
      - "oregon-*/basket-admin/*"
    refs:
      - main

test prod:
  extends: .test
  variables:
    URL: https://basket.mozilla.org
  only:
    changes:
      - "oregon-*/basket-prod/*"
    refs:
      - main

test mozmeao-fr prod:
  extends: .test
  variables:
    URL: https://basket-prod.frankfurt.moz.works
  only:
    changes:
      - "mozmeao-fr/basket-prod/*"
    refs:
      - main

set basket-dev image to mozmeao/basket:e2450956 in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:e2450956 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:5212a6f0 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:5212a6f0 in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:5212a6f0 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:cc5e7ec9 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:cc5e7ec9 in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:cc5e7ec9 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:efe7068b in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:efe7068b in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:efe7068b in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:33ee26c2 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:33ee26c2 in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:33ee26c2 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:cf8edbc3 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:cf8edbc3 in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:cf8edbc3 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:783dd08d in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:783dd08d in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:783dd08d in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:55efd7ac in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:55efd7ac in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:55efd7ac in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:7443f8d7 in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:7443f8d7 in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:7443f8d7 in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage

set basket-admin-stage image to mozmeao/basket:f0dda2fb in mozmeao-or
  mozmeao-or/basket-admin-stage/web-deploy.yaml
Due: deploy mozmeao-or admin-stage

set basket-dev image to mozmeao/basket:f0dda2fb in mozmeao-or
  mozmeao-or/basket-dev/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-dev/web-deploy.yaml
  mozmeao-or/basket-dev/worker-deploy.yaml
Due: deploy mozmeao-or dev

set basket-stage image to mozmeao/basket:f0dda2fb in mozmeao-fr mozmeao-or
  mozmeao-fr/basket-stage/web-deploy.yaml
  mozmeao-fr/basket-stage/worker-deploy.yaml
  mozmeao-or/basket-stage/fxaeventsworker-deploy.yaml
  mozmeao-or/basket-stage/web-deploy.yaml
  mozmeao-or/basket-stage/worker-deploy.yaml
Due: deploy mozmeao-or stage, deploy mozmeao-fr stage
